@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mukta:wght@600&family=Red+Hat+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Libre+Baskerville&family=Mukta:wght@600&family=Red+Hat+Text:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  background-image: url(/assets/topbg.jpg);
  width: 1440px;
  height: 765px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center 0;

}

.header {
  display: flex;
  width: 1440px;
  height: 90px;
  background-color: #F2785C;
  opacity: 0.7;
  box-shadow: 0px 5px 10px 0px #0D606F;
}

.logo {
  width: 216px;
  height: 31px;
  margin: 25px 158px 34px 120px;
  opacity: 1 !important;
}

.nav-container {
  width: 527px;
  height: 21px;
  margin-top: 35px;
  margin-right: 196px;
  margin-bottom: 34px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu li {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;
  }

.login-button {
  width: 103px;
  height: 41px;
  background-color: #0D606F;
  border-radius: 12px;
  margin-top: 25px;
  margin-right: 120px;
  margin-bottom: 24px;
  box-shadow: 0px 2px 4px 0px  #000000;
}

.login-button p {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.plan-container {
  display: flex;
  flex-direction: column;
  width: 892px;
  height: 422px;
  margin: 32px 428px 301px 120px;
}

.plan-text-first {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.plan-text-second {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

